html {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}
h3 {
      margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 5px 5px 9px black;font-size: 40px;
    text-align: center;
}
p {
    color: rgb(128, 34, 34);
  }
li {
    color: blue;
    font-size: 24px;
}
html {
  background-color: #a8c4df;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
  width: 600px;
}



